@charset "UTF-8";
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Mixin */
/* Reset */
ul, ol, pre, figure {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Variables */
/* General settings */
body {
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, DejaVu Sans, Verdana, sans‑serif;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 1.7rem;
  margin-top: 2rem;
}

h3 {
  margin-top: 1.5rem;
}

p, ul, ol {
  line-height: 1.7;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* States */
.can-hide {
  display: none;
}

@media (min-width: 920px) {
  .can-hide {
    display: inline;
  }
}

.sidebar-close {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (min-width: 920px) {
  .sidebar-close {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.sidebar-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* Navbar */
.navbar {
  padding: .7rem 1.5rem .7rem 4rem;
  line-height: 2.2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 3.6rem;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #eaecef;
  width: 100%;
}

@media (min-width: 920px) {
  .navbar {
    padding-left: 1.5rem;
  }
}

.navbar .logo {
  height: 2.2rem;
  min-width: 2.2rem;
  margin-right: .8rem;
  vertical-align: top;
}

.navbar a {
  display: inline-block;
}

.menu-button {
  display: block;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  padding: .6rem;
  top: .6rem;
  left: 1rem;
}

@media (min-width: 920px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

.site-name {
  font-family: Montserrat, DejaVu Sans, Verdana, sans‑serif;
  font-size: 1rem;
  font-weight: 700;
  color: #2c3e50;
  text-transform: uppercase;
}

.sidebar-nav {
  font-size: 16px;
  background-color: #fff;
  width: 20rem;
  position: fixed;
  z-index: 10;
  margin: 0;
  top: 3.6rem;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #eaecef;
  overflow-y: auto;
}

.sidebar-nav .sidebar-links {
  padding: 1.5rem 0;
}

.sidebar-nav .sidebar-links > li:not(:first-child) {
  margin-top: 1rem;
}

a.sidebar-link {
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  color: #2c3e50;
  padding: .7rem 2rem .7rem 1.5rem;
  line-height: 1.4;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  padding: 3.6rem 2rem 2rem 2rem;
}

@media (min-width: 920px) {
  .main {
    padding-left: 22rem;
  }
}

.article img {
  width: 100%;
  max-height: 400px;
  margin: 2rem 0;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 1px lightgray;
}

/* Select very first paragraph */
h1:first-child + p {
  margin-top: 2rem;
}

/* Code box examples */
.box-example {
  border: solid 1px lightgray;
  padding: 8px 16px;
  background-color: #fbfff8;
}

@media (min-width: 920px) {
  .two-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
}

.inner-box figcaption {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.06);
}

.inner-box figure:first-child {
  margin-bottom: 1.5rem;
}

.inner-box i.fas {
  padding-right: 5px;
}
/*# sourceMappingURL=styles.css.map */